{% extends 'kdm/base.html' %}

{% block content %}
    <div class="site-section site-hero inner">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-10">
            <span class="d-block mb-3 caption" data-aos="fade-up">Get To Know</span>
            <h1 class="d-block mb-4" data-aos="fade-up" data-aos-delay="100">About Us</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-4 ">
            <div class="site-section-heading" data-aos="fade-up" data-aos-delay="100">
              <h2>Welcome To Kaggle Days</h2>
              <h3>Delhi + NCR</h3>
            </div>
          </div>
          <div class="col-lg-5 mt-5 pl-lg-5" data-aos="fade-up" data-aos-delay="200">
            <p>
                Kaggle Days Meetups are a series of events all over the world that aim to gather Kagglers and people interested in Data Science, Machine Learning, Artificial Intelligence around one city.<br> <hr>Kaggle Days Meetup, Delhi NCR is on a mission to gathers Data Science, Machine Learning, Artificial Intelligence Enthusiasts and most importantly Kaggle fans.
            </p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12" data-aos="fade-up" data-aos-delay="300">
            <img src="images/aboutus_main.jpeg" alt="Image" class="img-fluid">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="400"><span class="text-primary">Who Can Attend Meetups?</span></div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
              <p>Anyone with an interest to explore Machine Learning, Data Science along with participation in some real world competitions over Kaggle can attend.<br> <hr>This meetup is scheduled keeping in mind the concerns of a beginner to start with Kaggle.</p>
            <p class="mb-5"></p>


          </div>>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="400"><span class="text-primary">Why Kaggle Days Meetups?</span></div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
              <p><i class="icon-watch"></i> Meet Kaggle enthusiasts from your city, exchange experience and network.<br><i class="icon-watch"></i>
These meetups aim to gather local Data Science communities and share knowledge.<br><i class="icon-watch"></i>
Each Meetup has it’s difficulty level described, so that you could find the one that suits you best.<br><i class="icon-watch"></i>
You don’t need to buy ticket to participate in Meetups. <br><i class="icon-watch"></i> Just join us at Meetup platform and come to the event!
</p><p class="mb-5"></p>


          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="400"><span class="text-primary">Goals behind organizing such a meetup ?</span></div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
              <p><hr> <i class="icon-bar-chart-o"></i> LEARN how to start on Kaggle through practice.<br><i class="icon-bar-chart-o"></i>
                NETWORK with other people.<br><i class="icon-bar-chart-o"></i>
                MEET Kaggle Grandmasters, Masters and Kaggle competition winners.<br><i class="icon-bar-chart-o"></i>
                HAVE FUN at the meetings and make new friends!<br><i class="icon-bar-chart-o"></i>
                LEARN tips and trick on how to win a Kaggle competition.<br><i class="icon-bar-chart-o"></i>
                IMPROVE your skills.</p>
            <p class="mb-5"></p>


          </div>
          
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="400"><span class="text-primary">Who are our potential speakers ?</span></div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
              <p>Our speakers are Kaggle competition winners, Kaggle Experts, etc. or anybody else who can help others guide about how to proceed with Kaggle Platform.</p>
            <p class="mb-5"></p>


          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="400"></div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="d-flex coordinator align-items-center ">
                <div class="mr-4">
                  <img src="images/ayon_roy.jpeg" alt="Image" class="img-fluid">
                </div>
                <span>By <span class="text-white">Ayon Roy</span> <br> Kaggle Days (Delhi + NCR) Organiser</span>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="site-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-4 mb-5">
            <div class="site-section-heading" data-aos="fade-up">
              <h2 class="text-center">Our Team</h2>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="100">
            <div class="testimony text-center"> 
              <figure>
                <img src="images/ayon_roy.jpeg" alt="Image" class="img-fluid">
              </figure>
              <blockquote>
                <p class="author mb-0">Ayon Roy</p>
                <p class="text-muted mb-4">Administration</p>
                <p>Artifical Intelligence Team Head @ PyTorq | Machine Learning & Data Science Explorer | Pythonista | Internship Explorer</p>
                
              </blockquote>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="200">
            <div class="testimony text-center">
              <figure>
                <img src="images/akarsh_raj.jpg" alt="Image" class="img-fluid">
              </figure>
              <blockquote>
                <p class="author mb-0">Akarsh Raj</p>
                <p class="text-muted mb-4">Speaker Affairs</p>
                <p>Data Scientist at ZS Associates | Kaggle expert (~Top 1.5%)</p>
                
              </blockquote>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="300">
            <div class="testimony text-center">
              <figure>
                <img src="images/aquib_javed.jpeg" alt="Image" class="img-fluid">
              </figure>
              <blockquote>
                <p class="author mb-0">Aquib Javed</p>
                <p class="text-muted mb-4">Location Affairs</p>
                <p>Machine learning engineer at Tokopedia with more than two years of experience in the development and implementation of machine-learning models mainly focused on Natural Language Processing and Computer vision. </p>
                
              </blockquote>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="400">
            <div class="testimony text-center">
              <figure>
                <img src="images/Apoorv_Minocha.jpeg" alt="Image" class="img-fluid">
              </figure>
              <blockquote>
                <p class="author mb-0">Apoorv Minocha</p>
                <p class="text-muted mb-4">Management</p>
                <p>Student at Maharaja Agrasen Institute Of Technology</p>
                
              </blockquote>
            </div>
          </div>

        </div>

      </div>
    </div>

{% endblock %}        