{% extends 'kdm/base.html' %}

{% block content %}

    <div class="site-section site-hero inner">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-10">
            <span class="d-block mb-3 caption" data-aos="fade-up">Speakers</span>
            <h1 class="d-block mb-4" data-aos="fade-up" data-aos-delay="100">Past Speakers</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">

        <!-- speaker 1 -->
        
        <div class="row align-items-center speaker">
          <div class="col-lg-6 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <img src="images/aquib_javed.jpeg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-6 ml-auto">
            <h2 class="text-white mb-4 name" data-aos="fade-right" data-aos-delay="200">Aquib Javed</h2>
            <div class="bio pl-lg-5">
              <span class="text-uppercase text-primary d-block mb-3" data-aos="fade-right" data-aos-delay="300">Hands On Session On NLP</span>
              <p class="mb-4" data-aos="fade-right" data-aos-delay="400">Machine learning engineer at Tokopedia with more than two years of experience in the development and implementation of machine-learning models mainly focused on Natural Language Processing and Computer vision.</p>
              <p data-aos="fade-right" data-aos-delay="500">
                Follow Aquib &mdash;
                <a href="https://www.linkedin.com/in/aquib-javed-khan/" class="p-2"><span class="icon-linkedin"></span></a>
                <a href="#" class="p-2"><span class="icon-cloud_circle"></span></a>
                <a href="#" class="p-2"><span class="icon-github"></span></a>
              </p>
            </div>
            <div class="row" data-aos="fade-up" data-aos-delay="500">
                <div class="ml-1"></div>  
              <div class="mb-3 text-center">
                  <a href="https://docs.google.com/presentation/d/1ck3ceFARzlcydDysXtcRQCZJZq8zFIxEKGX4XNfAQfk/edit" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>Slides</span></a>
                </div>
                <div class="ml-1"></div>
                <div class="mb-3 text-center hidden-true">
                    <a href="#" class="btn-custom" data-aos="fade-up" data-aos-delay="300"><span>Notebooks</span></a>
                  </div>
                <div class="ml-1"></div>
                  <div class="mb-3 text-center">
                      <a href="https://github.com/aquibjaved/Deep-learning-for-text-classification" class="btn-custom" data-aos="fade-up" data-aos-delay="200"><span>Code</span></a>
                    </div>
            </div>
          </div>
        </div>
        <div class="progress-bar"></div>
        <!-- speaker 2 -->

        <div class="row align-items-center speaker">
          <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2" data-aos="fade" data-aos-delay="100">
            <img src="images/person_2.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-6 ml-auto order-lg-1">
            <h2 class="text-white mb-4 name" data-aos="fade-left" data-aos-delay="200">Nishat Hussian</h2>
            <div class="bio pr-lg-5">
              <span class="text-uppercase text-primary d-block mb-3" data-aos="fade-left" data-aos-delay="300">Introduction to Computer Vision</span>
              <p class="mb-4" data-aos="fade-left" data-aos-delay="400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus error deleniti dolores necessitatibus eligendi. Nesciunt repellendus ab voluptatibus. Minima architecto impedit eaque molestiae dicta quam. Cum ducimus. Culpa distinctio aperiam</p>
              <p data-aos="fade-left" data-aos-delay="500">
                Follow Nishat &mdash;
                <a href="https://www.linkedin.com/in/nishathussain/" class="p-2"><span class="icon-linkedin"></span></a>
                <a href="#" class="p-2"><span class="icon-cloud_circle"></span></a>
                <a href="#" class="p-2"><span class="icon-github"></span></a>
              </p>
            </div>
            <div class="row" data-aos="fade-up" data-aos-delay="500">
                <div class="ml-1"></div>  
              <div class="mb-3 text-center">
                  <a href="https://docs.google.com/presentation/d/1bdsY-dn1yu8qJEf1r30g_Ri6tNg7TEXXuA6eHUCE2d0/edit" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>Slides</span></a>
                </div>
                <div class="ml-1"></div>
                <div class="mb-3 text-center hidden-true">
                    <a href="https://github.com/kaggledelhi/talks/blob/master/KaggleDays_TOKOPEDIA_MeetupDEMO.ipynb" class="btn-custom" data-aos="fade-up" data-aos-delay="300"><span>Notebooks</span></a>
                  </div>
                <div class="ml-1"></div>
                  <div class="mb-3 text-center">
                      <a href="https://github.com/kaggledelhi/talks/blob/master/app_classify.py" class="btn-custom" data-aos="fade-up" data-aos-delay="200"><span>Code</span></a>
                    </div>
            </div>
          </div>
        </div>

        <!-- speaker 3 -->

        <div class="row align-items-center speaker">
          <div class="col-lg-6 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <img src="images/person_1.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-6 ml-auto">
            <h2 class="text-white mb-4 name" data-aos="fade-right" data-aos-delay="200">Rajneesh Tiwari</h2>
            <div class="bio pl-lg-5">
              <span class="text-uppercase text-primary d-block mb-3" data-aos="fade-right" data-aos-delay="300">Advance Computer Vision</span>
              <p class="mb-4" data-aos="fade-right" data-aos-delay="400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus error deleniti dolores necessitatibus eligendi. Nesciunt repellendus ab voluptatibus. Minima architecto impedit eaque molestiae dicta quam. Cum ducimus. Culpa distinctio aperiam</p>
              <p data-aos="fade-right" data-aos-delay="500">
                Follow Rajneesh &mdash;
                <a href="#" class="p-2"><span class="icon-linkedin"></span></a>
                <a href="#" class="p-2"><span class="icon-cloud_circle"></span></a>
                <a href="#" class="p-2"><span class="icon-github"></span></a>
              </p>
            </div>
            <div class="row" data-aos="fade-up" data-aos-delay="500">
                <div class="ml-1"></div>  
              <div class="mb-3 text-center">
                  <a href="https://docs.google.com/presentation/d/1ck3ceFARzlcydDysXtcRQCZJZq8zFIxEKGX4XNfAQfk/edit" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>Slides</span></a>
                </div>
                <div class="ml-1"></div>
                <div class="mb-3 text-center hidden-true">
                    <a href="#" class="btn-custom" data-aos="fade-up" data-aos-delay="300"><span>Notebooks</span></a>
                  </div>
                <div class="ml-1"></div>
                  <div class="mb-3 text-center">
                      <a href="https://github.com/aquibjaved/Deep-learning-for-text-classification" class="btn-custom" data-aos="fade-up" data-aos-delay="200"><span>Code</span></a>
                    </div>
            </div>
          </div>
        </div>

        <!-- speaker 4 -->

        <div class="row align-items-center speaker">
          <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2" data-aos="fade" data-aos-delay="100">
            <img src="images/person_2.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-6 ml-auto order-lg-1">
            <h2 class="text-white mb-4 name" data-aos="fade-left" data-aos-delay="200">Akarsh Raj</h2>
            <div class="bio pr-lg-5">
              <span class="text-uppercase text-primary d-block mb-3" data-aos="fade-left" data-aos-delay="300">Intro to Kaggle & Kaggle Competitions</span>
              <p class="mb-4" data-aos="fade-left" data-aos-delay="400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus error deleniti dolores necessitatibus eligendi. Nesciunt repellendus ab voluptatibus. Minima architecto impedit eaque molestiae dicta quam. Cum ducimus. Culpa distinctio aperiam</p>
              <p data-aos="fade-left" data-aos-delay="500">
                Follow Akarsh &mdash;
                <a href="#" class="p-2"><span class="icon-linkedin"></span></a>
                <a href="#" class="p-2"><span class="icon-cloud_circle"></span></a>
                <a href="#" class="p-2"><span class="icon-github"></span></a>
              </p>
            </div>
            <div class="row" data-aos="fade-up" data-aos-delay="500">
                <div class="ml-1"></div>  
              <div class="mb-3 text-center">
                  <a href="https://docs.google.com/presentation/d/1ck3ceFARzlcydDysXtcRQCZJZq8zFIxEKGX4XNfAQfk/edit" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>Slides</span></a>
                </div>
                <div class="ml-1"></div>
                <div class="mb-3 text-center hidden-true">
                    <a href="#" class="btn-custom" data-aos="fade-up" data-aos-delay="300"><span>Notebooks</span></a>
                  </div>
                <div class="ml-1"></div>
                  <div class="mb-3 text-center">
                      <a href="https://github.com/aquibjaved/Deep-learning-for-text-classification" class="btn-custom" data-aos="fade-up" data-aos-delay="200"><span>Code</span></a>
                    </div>
            </div>
          </div>
        </div>

        <!-- speaker 5 -->

        <div class="row align-items-center speaker">
          <div class="col-lg-6 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <img src="images/person_1.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-6 ml-auto">
            <h2 class="text-white mb-4 name" data-aos="fade-right" data-aos-delay="200">Vikas Kumar</h2>
            <div class="bio pl-lg-5">
              <span class="text-uppercase text-primary d-block mb-3" data-aos="fade-right" data-aos-delay="300">Intro to Kaggle NLP Challenges</span>
              <p class="mb-4" data-aos="fade-right" data-aos-delay="400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus error deleniti dolores necessitatibus eligendi. Nesciunt repellendus ab voluptatibus. Minima architecto impedit eaque molestiae dicta quam. Cum ducimus. Culpa distinctio aperiam</p>
              <p data-aos="fade-right" data-aos-delay="500">
                Follow Vikas &mdash;
                <a href="#" class="p-2"><span class="icon-linkedin"></span></a>
                <a href="#" class="p-2"><span class="icon-cloud_circle"></span></a>
                <a href="#" class="p-2"><span class="icon-github"></span></a>
              </p>
            </div>
            <div class="row" data-aos="fade-up" data-aos-delay="500">
                <div class="ml-1"></div>  
              <div class="mb-3 text-center">
                  <a href="https://docs.google.com/presentation/d/1ck3ceFARzlcydDysXtcRQCZJZq8zFIxEKGX4XNfAQfk/edit" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>Slides</span></a>
                </div>
                <div class="ml-1"></div>
                <div class="mb-3 text-center hidden-true">
                    <a href="#" class="btn-custom" data-aos="fade-up" data-aos-delay="300"><span>Notebooks</span></a>
                  </div>
                <div class="ml-1"></div>
                  <div class="mb-3 text-center">
                      <a href="https://github.com/aquibjaved/Deep-learning-for-text-classification" class="btn-custom" data-aos="fade-up" data-aos-delay="200"><span>Code</span></a>
                    </div>
            </div>
          </div>
        </div>

        <!-- speaker 6 -->

        <div class="row align-items-center speaker">
          <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2" data-aos="fade" data-aos-delay="100">
            <img src="images/person_2.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-6 ml-auto order-lg-1">
            <h2 class="text-white mb-4 name" data-aos="fade-left" data-aos-delay="200">Ayon Roy</h2>
            <div class="bio pr-lg-5">
              <span class="text-uppercase text-primary d-block mb-3" data-aos="fade-left" data-aos-delay="300">Opening Talk for India's First Kaggle Days Meetup</span>
              <p class="mb-4" data-aos="fade-left" data-aos-delay="400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus error deleniti dolores necessitatibus eligendi. Nesciunt repellendus ab voluptatibus. Minima architecto impedit eaque molestiae dicta quam. Cum ducimus. Culpa distinctio aperiam</p>
              <p data-aos="fade-left" data-aos-delay="500">
                Follow Ayon &mdash;
                <a href="#" class="p-2"><span class="icon-linkedin"></span></a>
                <a href="#" class="p-2"><span class="icon-cloud_circle"></span></a>
                <a href="#" class="p-2"><span class="icon-github"></span></a>
              </p>
            </div>
            <div class="row" data-aos="fade-up" data-aos-delay="500">
                <div class="ml-1"></div>  
              <div class="mb-3 text-center">
                  <a href="https://docs.google.com/presentation/d/1ck3ceFARzlcydDysXtcRQCZJZq8zFIxEKGX4XNfAQfk/edit" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>Slides</span></a>
                </div>
                <div class="ml-1"></div>
                <div class="mb-3 text-center hidden-true">
                    <a href="#" class="btn-custom" data-aos="fade-up" data-aos-delay="300"><span>Notebooks</span></a>
                  </div>
                <div class="ml-1"></div>
                  <div class="mb-3 text-center">
                      <a href="https://github.com/aquibjaved/Deep-learning-for-text-classification" class="btn-custom" data-aos="fade-up" data-aos-delay="200"><span>Code</span></a>
                    </div>
            </div>
          </div>
        </div>

        

      </div>
    </div>

    

    <div class="site-section" data-aos="fade">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-4 mb-5">
            <div class="site-section-heading">
              <h2 class="text-center">Testimonials</h2>
            </div>
          </div>
        </div>

        <div class="slide-one-item home-slider owl-carousel">

          <!-- testimony 1 -->
          
          <div class="row justify-content-center">

            <div class="testimony text-center col-md-5">
              <figure>
                <img src="images/person_1.jpg" alt="Image" class="img-fluid">
              </figure>
              <blockquote>
                <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime exercitationem alias reprehenderit error quidem aliquam ad minus, veritatis modi.&rdquo;</p>
                <p class="author">&mdash; xyz</p>
              </blockquote>
            </div>
          </div>

        </div>
        
      </div>
    </div>
{% endblock %}    